[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "harrypotter"]
	path = harrypotter
	url = https://github.com/aljrico/harrypotter
[submodule "planets"]
	path = planets
	url = https://github.com/aljrico/planets
[submodule "toonlite"]
	path = toonlite
	url = https://github.com/aljrico/toonlite
[submodule "usearchlite"]
	path = usearchlite
	url = https://github.com/aljrico/usearchlite
