[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "harrypotter"]
	path = harrypotter
	url = https://github.com/aljrico/harrypotter
	shallow = true
	registered = true
[submodule "planets"]
	path = planets
	url = https://github.com/aljrico/planets
	shallow = true
	registered = true
